<% provide(:title, "About") %>

<h1>About PlusCard</h1>
<br>
<h3>What is it?</h3>
<br>
<h2>PLUSCARD is a cashless payment system that has been designed specifically for the needs of nightclubs, pubs, off licenses, concerts & festivals.</h2>

<ul>
    <li>Customers can use their card in multiple venues to pay for drinks, food, merchandise, admission etc.</li>
    <li>Customers have the option to integrate their ID into the card, eliminating the need to carry large amounts of cash, bank cards & ID’s such as passports & driving licenses.</li>
    <li>Cards can be topped up online via Web or mobile, or with cash or card on the premises.</li>
    <li>Customers can replace a forgotten, lost or stolen card at any venue for free or order and cancel them online</li>
    <li>Replacement cards are free and there is no limit to the amount of replacements a customer can have.</li>
    <li>If a customer does not wish to register their information, link bank cards or integrate their ID they can simply use PLUSCARD as a disposable card and top it up in the venue with cash or a bank card.</li>
</ul>

