<% provide(:title, "Contact") %>

 <style>
	   #map-canvas 
 {
    width: 800px;
	height: 400px;
	margin:0 auto;
}
</style>
  
    <script src="https://maps.googleapis.com/maps/api/js"></script>
		<script>
			function initialize() {
				var mapCanvas = document.getElementById('map-canvas');
				var mapOptions = 
				{
					center: new google.maps.LatLng(
						53.387214,-6.348389),
						zoom: 14,
						mapTypeId: google.maps.MapTypeId.ROADMAP
				}
				var map = new google.maps.Map(mapCanvas, mapOptions)
			}
			google.maps.event.addDomListener(window, 'load', initialize);
		</script>
</head>

<body>
	

           <div id="map-canvas"></div><br>   
		    

             <div class="form3">
 
		   
		      <center><form id="contact" style="float:center" >
				 <fieldset>	
					<legend>Contact</legend>

			username:<br> <input type="text" name="username" id="username"/><br>

			<br>

			email:<br> <input type="email" name="email" id="email"/><br>

			<br>

			comment:   <br><textarea rows="4" width:="70%" name="comment" id="comment"></textarea><br><br>

			<br>

			<input type="submit" value="submit" onClick="checkMail()"/>
		          </fieldset>   
               </form>		
		   </center>
	</div>
	</body>
</html>