<% provide(:title, "Home") %>
<div id = "homepage">

    <!-- this is the image rotater html -->
	<div class="wraper">
		<div class="rotator">
			<div id="rotating-item-wrapper">
				<img class="rotating-item" src="/assets/pluscardimage3.png" />
				<img class="rotating-item" src="/assets/pluscardhomepage3.png" />
			</div>
		</div>
	</div>


    <div class="home_button_wrapper">    
        <div class = "home_button" id="signup_button">
            <ul>
            <li><%= link_to "SIGN UP", signup_path %></li>
            </ul>
        </div>
            
        <div class = "home_button" id="topup_button">
            <ul>
            <li><%= link_to "TOP UP", login_path %></li>
            </ul>
        </div>
        
        <div class = "home_button" id="cards_button">
            <ul>
            <li><%= link_to "CARDS", login_path %></li>
            </ul>
        </div>
        
        <div class = "home_button" id="venue_button">
            <ul>
            <li><%= link_to "VENUES", '#' %></li>
            </ul>
        </div>
    </div>     
    
</div>

