<% provide(:title, "Log in") %>
<div>
    <%= form_for(:session, url: login_path, :html => {:class => "form", :name => "loginForm"}) do |f| %>
      <div class="heading">Login to Pluscard</div>
      <div class="form-body">
        <div class="line">
        <%= f.label :email %>
        <%= f.email_field :email,:autocomplete => :on, placeholder: 'E-Mail' %>
        </div>
        <div class="line">
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: 'Password' %>
        </div>
        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>Keep Me Logged In
          <div>
          <%= f.submit "Log in" %>
          </div>
          <br>
          <strong><%= link_to "Forgot Password", new_password_reset_path %></strong>
          <br>
          <p>New user? <%= link_to "Sign up now!", signup_path %></p>
        <% end %>
      </div>
    <% end %>

</div>
