<% provide(:title, 'Reset password') %>
<h1>Reset password</h1>

<div class>
  <div class>
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= hidden_field_tag :email, @user.email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: 'off' %>

      <%= f.submit "Update password" %>
    <% end %>
  </div>
</div>
