<% provide(:title, "Forgot password") %>
<h1>Forgot password</h1>

<div>
  <div>
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.submit "Submit" %>
    <% end %>
  </div>
</div>