
<li id="topup-<%= topup.id %>">
  <span class="user"><%= link_to topup.user.name, topup.user %></span>
  <span class="content"><%= topup.amount %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(topup.created_at) %> ago.
  </span>
</li>