<% provide(:title, "Edit user") %>

<%= form_for(@user, :html => {:class => "form"}) do |f| %>
      <%= render 'shared/error_messages' %>
      <div class="heading">Update Your Account</div>
      
      <div class="form-body">  
        <div class="field">
          <%= f.label :name %><span class="required">*</span><br />
          <%= f.text_field :name,  autofocus: true %>
        </div>
    
        <div class="field">
          <%= f.label :address %><span class="required">*</span><br />
          <%= f.text_field :address1 %>
        </div>
    
        <div class="field">
          <%= f.label :address %><br />
          <%= f.text_field :address2 %>
        </div>
        
        <div class="field">
          <%= f.label :address %><br />
          <%= f.text_field :address3 %>
        </div>
        
        <div class="field">
          <%= f.label :address %><br />
          <%= f.text_field :address4 %>
        </div>
        
        <div class="field">
          <%= f.label :phone %><span class="required">*</span><br />
          <%= f.text_field :phone %>
        </div>
        
        <div class="field">
          <%= f.label :dob %><span class="required">*</span><br />
          <%= f.date_field :dob %>
        </div>
        
        <div class="field">
          <%= f.label :email %>*<br />
          <%= f.email_field :email %>
        </div>
        
        <div class="field">
          <%= f.label :password %><span class="required">*</span><br />
          <%= f.password_field :password %>
        </div>
        
        <div class="field">
          <%= f.label :password_confirmation %><span class="required">*</span><br />
          <%= f.password_field :password_confirmation %>
        </div>    
  
        <div class="field">
          <%= f.submit "Save changes" %>
        </div>
      </div>
    <% end %>