<% provide(:title, 'Sign Up') %>

<!-- Need to add auto complete place holder and tidy up -->

<div>
  <div>
    <%= form_for(@user, :html => {:class => "form"}) do |f| %>
    <%= render 'shared/error_messages' %>
    <div class="heading">Register an Account</div>
    <div class="form-body">
      <div class="field">
      <%= f.label :name %><span class="required">*</span><br />
      <%= f.text_field :name,:autocomplete => :on, placeholder: 'Full Name' %>
      </div>
      
      <div class="field">
      <%= f.label :address%><span class="required">*</span><br />
      <%= f.text_field :address1, :autocomplete => :on, placeholder: 'Address' %>
      </div>
  
      <div class="field">
      <%= f.label :address %><br />
      <%= f.text_field :address2, :autocomplete => :on, placeholder: 'Address' %>
      </div>
  
      <div class="field">
      <%= f.label :address %><br />
      <%= f.text_field :address3, :autocomplete => :on, placeholder: 'Address' %>
      </div>
  
      <div class="field">
      <%= f.label :address %><br />
      <%= f.text_field :address4, :autocomplete => :on, placeholder: 'Address' %>
      </div>
  
      <div class="field">
      <%= f.label :phone %><span class="required">*</span><br />
      <%= f.text_field :phone, :autocomplete => :on, placeholder: 'Phone Number' %>
      </div>
  
      <div class="field">
      <%= f.label :dob %><span class="required">*</span><br />
      <%= f.date_field :dob %>
      </div>
      
      <div class="field">
      <%= f.label :email %><span class="required">*</span><br />
      <%= f.email_field :email, :autocomplete => :on, placeholder: 'E-Mail Address' %>
      </div>

      <div class="field">
      <%= f.label :password %><span class="required">*</span><br />
      <%= f.password_field :password, :autocomplete => :on, placeholder: 'Password' %>
      </div>

      <div class="field">
      <%= f.label :password_confirmation, "Confirmation" %><span class="required">*</span><br />
      <%= f.password_field :password_confirmation, :autocomplete => :on, placeholder: ' Confirm Password' %>
      </div>

      <div class="field">
      <%= f.submit "Create my account" %>
      </div>
    </div>  
    <% end %>
  </div>
</div>