<% provide(:title, @user.name) %>


<div id ="usersHeader">
  <h4>
    <ul>
      <li><%= link_to "CHANGE ACCOUNT DETAILS", edit_user_path(current_user) %>.</li> 
      <li>IF YOU WISH TO CANCEL YOUR ACCOUNT OR WITHDRAW MONEY PLEASE <%= link_to "CONTACT US", contact_path %></li>
      <li>Your balance is available to view in the top right corner of the page.</li>
      <li>Cancel lost or stolen cards below.</li>
    </ul>
  </h4>
</div>


<div id= "userFormsWrapper">
  
  <div id="userpage-form">
      <%= form_for(@topup) do |f| %>
      <h3>Top Up Your Account</h3>
        <%= hidden_field_tag :user_id, @user.id %>
        <%= hidden_field_tag :id, @user.id %>
        <div> 
          <%= f.label :Enter_Amount %>
          <%= f.number_field :amount %>
          <%= f.submit "Enter Amount" %>
          <p>Please Enter Euro Amount</p>
        </div>
      <% end %>
  </div>
  <div>
  <button id="ordercardButton" onclick="ordercard()">Order a Card</button>
  </div>
  
  
  <div id="userpage-form">
    <%= form_for(@pluscard) do |f| %>
    <h3>Register Your Card</h3>
      <%= hidden_field_tag :user_id, @user.id %>
      <%= hidden_field_tag :id, @user.id %>
    <div class=""> 
      <%= f.label :Card_Number %><%= f.text_field :number %>
      <%= f.submit "Register", class: "" %>
    </div>
    <% end %>
  </div>
  
  
  
  
</div>

<div>
<table id="paypal">
<% @user.topups.each_with_index do |topup, i| %>
      <%  break if i==1 %>
      <% if topup.status == 0 %>
        <tr>
          <td>Top up by €<%= topup.amount %> using PayPal now?</td>
          <td>
          <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_xclick">
            <input type="hidden" name="business" value="grehangerry-facilitator@gmail.com">
            <input type="hidden" name="item_name" value="Top Up">
            <input type="hidden" name="item_number" value="<%= topup.id %>">
            <input type="hidden" name="currency_code" value="EUR">
            <input type="hidden" name="no_shipping" value="1">
            <input type="hidden" name="return" value="https://pluscard-gerry-grehan.c9users.io/paypal">
            <input type="hidden" name="amount" value="<%= topup.amount %>">
            <input type="hidden" name="notify_url" value="https://pluscard-gerry-grehan.c9users.io/paypal">
            <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
      <% end %>
          </form>
        </td>
    </tr>
<% end %>
</table>
</div>


<div id = "topupsContainer">


  <% if @user.topups.any? %>
  
  <button id="show" onclick="showTopupsTable()">Show / Hide Your Top Up History</button>
  <% end %>
  <div id="display-topups">
    <% if @user.topups.any? %>
    
      <table class="topups_table">
        <tr>
          <td>Date</td>
          <td>Amount</td>
        </tr>
        <% @user.topups.each do |topup| %>
        <% if topup.status == 1 %>
        <tr>
          <td><%= topup.created_at.strftime("%d %b. %Y") %></td>
          <td>€<%= topup.amount %></td>
        </tr>
        <% end %>
        <% end %>
      </table>
    <% end %>
  </div>

</div>


<div id = "cardsContainer">
  
  <% if @user.pluscards.any? %>
  <button id="show" onclick="showPluscardsTable()">Show / Hide Your Card Numbers</button>
  <div id="display-pluscards">
      <table class="topups_table">
        <tr>
          <td>Date</td>
          <td>Number</td>
          <td>Cancel</td>
        </tr>
        <% @user.pluscards.each do |pluscard| %>
        <tr>
          <td><%= pluscard.created_at.strftime("%d %b. %Y") %></td>
          <td><%= pluscard.number %></td>
          <td><%= link_to "Cancel Card", pluscard, method: :delete, data: { confirm: "Are you sure? This means you will longer be able to use this card." } %></td>
        </tr>
        <% end %>
      </table>
    <% end %>
  </div>  

  
  
</div>