<% provide(:title, "Venues") %>

<p id="notice"><%= notice %></p>

<h1 id="venuesHeader">Venues & Offers</h1>

<table class = "venueTable">

  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td class= "venueTablePicture"><%= image_tag(venue.picture) %></td>
        <td class= "venueTableName"><%= venue.name %></td>
        <td class= "venueTableDescription"><%= venue.description %></td>
        <td class= "venueTablePrice"><%= number_to_currency(venue.price, :unit=>'€') %>
        <td>
              <% if logged_in? %> 
                <%= form_for(@purchase) do |f| %>
            
                <%= hidden_field_tag :user_id, @user.id %>
                <%= hidden_field_tag :id, @user.id %>
                
                <%= hidden_field_tag :venue_id, venue.id %>
                <%= hidden_field_tag :venue_price, venue.price %>
                
                <%= f.submit "Purchase", class: "" %>
                <% end %>
              <% else %>
              Please <%= link_to 'Sign Up', new_user_path %> or <%= link_to 'Log In', login_path %>  to Purchase!!
              
              <% end %>
        </td>
        <% if logged_in? %>
          <% if current_user.admin? %>
            <td><%= link_to 'Show', venue %></td>
            <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
            <td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if logged_in? %>
<% if current_user.admin? %>
<%= link_to 'New Venue', new_venue_path %>
<% end %>
<% end %>

