<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong>
  <%= @venue.picture %>
</p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @venue.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @venue.price %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
