/***************** PAGE LAYOUT HEADER FOOTER *********/ 

/****** No white space around site ******/

* {
    margin: 0;
    padding: 0;

}

html  {
    margin: 0;
    padding: 5;
}

/****** Page Diemensions  ******/
#page {
    min-height:800px;
    min-width:1300px;
    width:100%;
    background-image: url(/assets/music_festival75op1.png);
    background-size:cover;
    margin:0 auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


/****** Middle of each page leaving space each side  ******/
#container {
    float:clear;
    width:70%;
    padding:0px;
    margin: auto;
}

/****** Header Container ******/

#headerBox {
    padding-top:10px;
    width:100%;
    margin:0 auto;
    min-height:65px;
    position:relative;
}

#logo {
    width:25%;
    max-height:65px;
    background:black;
    float:left;
    margin:0 auto;
    z-index:200;
    overflow:hidden;
}

.image {
    width:100%;
}


#headerClear {
    float:left;
    width:250px;
}

.icon {
    margin:2px;
    &:hover{
        background:white;
    }
}


#headerAccount {
    float:right;
    min-height:30px;
}


#headerAccount input[type="email"], input[type="password"], input[type="text"], input[type="date"] {
    height: 20px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
    padding-left:6px;
 
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}    input[type="submit"] {
    background: #ff244f;
    color: #fff;
    outline: none;
    text-transform: uppercase;
    overflow: hidden;
    border: none;
    margin:0 auto;
    font-weight: bold;
    padding:.1em;
        &:hover {
    background: rgba(#f85f64, 0.8);
    }
  }


#headerAccount button {
    height: 18px;
    border: 2px;
      color: #ff244f;
      background-color: #fff;
      font-size:15px;
    &:hover {
        background-color: #ff244f;
        color:#fff;
        cursor:pointer;
    }
}

#balance {
    display:none;
}


#navbar {
    width:75%;
    float:left;
    height:27.5938px;
    margin:0;
    background:#ff244f;
    position:absolute;
    bottom:0;
    left:25%;
    
}


#navbar ul {
    float:left;
    height:30px;
    list-style-type: none;
    margin:0 auto;
    text-align:centre;
    li {
        float:left;
        display:inline-block;
        text-align:centre;
     a {
        float:left;
        display:inline-block;
        text-decoration: none;         
        color: #fff;         
        background-color: #ff244f; 
        padding: .37em 1em;
        font-family:arial;
        margin:auto;
        text-align:centre;
        -webkit-transition:color 250ms ease-in;
        -webkit-transition:background-color 250ms ease-in;
            &:hover {
            background-color: #fff;
            color:#ff244f;
            }
        }
    }
}


#content {
    min-height:650px;
    padding: 20px 30px;
}


#footerBox {
    clear:all;
    margin-top:2px;
    min-height:100px;
    bottom:0;
    background:#ff244f;
    width:100%;
}

#footerBox p {
    text-align:center;
    position:relative;
    margin-top:1px;
    margin-bottom:3px;
    padding-bottom:15px;
}

#footerLogo {
    width:25%;
    margin:auto;
    padding-top:10px;
    min-height:100px;
    position:relative;
}

#links ul {
    float:left;
    height:10px;
    list-style-type: none;
    margin:10 auto;
    text-align:centre;
    li {
        text-align:centre;
        padding:.5em;
     a {
         float:centre;
        text-decoration: none;         
        color: #fff;         
        background-color: #ff244f; 
        padding: .37em 1em;
        font-family:arial;
        margin:auto;
        text-align:centre;
        -webkit-transition:color 50ms ease-in;
        -webkit-transition:background-color 50ms ease-in;
            &:hover {
            background-color: #fff;
            color:#ff244f;
            }
        }
    }
}


#error_explanation {  /*this is for error messages at sign up */
  color: red;
  text-align:center;
  text-decoration:none;
  margin:0 auto;
  list-style-type: none;
  ul {
    color: red;
    margin: 0 auto;
    text-align:center;
    text-decoration:none;
    list-style-type: none;
    li {
        text-decoration: none;
        list-style-type: none;
    }
  }
}

.checkbox {     /*  This is the remember me check box  */

    font-weight: normal;
}

/************   FLASH ALERTS    *****************/

.alert-danger{
    font-family:sans-serif;
    text-transform: uppercase;
    font-weight:bold;
    font-size:20px;
    text-align:center;
    color:red;
    margin-top:20px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
    border: 0.1em solid darken(#ff244f, 6%);
    list-style-type: none;
}

.alert-success{
    font-family:sans-serif;
    text-transform: uppercase;
    font-weight:bold;
    font-size:20px;
    text-align:center;
    color:green;
    margin-top:20px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
    border: 0.1em solid darken(#ff244f, 6%);
}


/* *********  CSS for FORMS ************** */
#userpage-form {
    margin: 10px;
    text-align:center;
    width:30%;
    height:130px;
    display:inline-block;
    float:left;
    margin:0 auto;
    border:1px solid #ff244f;
    label {
        margin:3px;
        color: black;
        font-size: 1.1em;
        text-align:center;
        padding:.5em;
        margin:3px;
    }
    input[type="number"], [type="text"], [type="submit"] {
    
    width:60%;
    text-align:center;
    padding: .5em;
    margin: 3px auto;
    display: block;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
 
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    &:focus {
        outline: none;
        border: 0.1em solid darken(#ccc, 6%);
    }
}
}

#userpage-form h3 {
	background: #ff244f;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family:sans-serif;
    margin:0 auto;
    border: 0.1em solid darken(#ff244f, 6%);
    padding:.3em;
    }


#ordercardButton {
    margin-left:20px;
    margin-right:20px;
    float:left;
    font-size:30px;
    height:130px;
    width:30%;
    padding: .5em;
    background:#fff;
    color:#ff244f;
    display: inline-block;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
 
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    &:hover {
        color:#fff;
        background:#ff244f;
    
    &:focus {
        outline: none;
        border: 0.1em solid darken(#ccc, 6%);
        opacity:.6;
    }
    }
}

.form {       
  margin: 2em auto;
  overflow: hidden;
  
}  

div.heading {
    background: #ff244f;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1.5em;
    width:22%;
    font-family:sans-serif;
    margin:0 auto;
    border: 0.1em solid darken(#ff244f, 6%);
    }
  
div.form-body {
    width: 22%;
    padding: 1.7em 1.5em 2.5em 1.5em;
    margin:0 auto;
    border: 0.1em solid darken(#ff244f, 6%);
}
  
      div.form-body {
          label {
            display: inline-block;
            color: black;
            font-size: 1.1em;
            margin-top: 0.6em;
          }
        
          input[type="email"], input[type="password"], input[type="text"], input[type="date"], input[type="number"]{
            padding: .5em;
            margin: 0.6em 0;
            display: block;
            -webkit-border-radius: 26px;
            -moz-border-radius: 26px;
            border-radius: 26px;
 
            -webkit-transition: all .15s ease-in-out;
            -moz-transition: all .15s ease-in-out;
            -o-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
            &:focus {
              outline: none;
              border: 0.1em solid darken(#ccc, 6%);
            }
          }
  
            input[type="submit"] {
                background: #ff244f;
                color: #fff;
                outline: none;
                text-transform: uppercase;
                padding: 1.2em;
                overflow: hidden;
                border: none;
                letter-spacing: 0.1em;
                margin:0 auto;
                font-weight: bold;
    
                &:hover {
                  background: rgba(#f85f64, 0.8);
                }
  }
}

.required {
    color:red;
}





/* ******************** Home Page *******************************/


.rotatimg { 
    width: 100%;
    margin-left : auto; 
    margin-right : auto;
}


#rotating-item-wrapper {
    position: relative;
    width: 100%;
    height:275px;
    margin-left : auto; 
    margin-right : auto; 
    margin-bottom:50px;
    z-index: 1;
}

.rotating-item {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height:275px;
    z-index: 1;

}

.home_button_wrapper {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.home_button {
    background:#ff244f;
    opacity: 0.8;
    text-align:center;
    display:inline-block;
    
}


.home_button ul {  
    list-style-type: none;
    text-align:center;
    li {
        text-align:centre;
     a {
        font-size:30px; 
        text-decoration: none;         
        color: #fff;         
        background-color: #ff244f; 
        padding: .5em;
        font-family:arial;
        text-align:centre;
        text-align:centre;
        -webkit-transition:color 250ms ease-in;
        -webkit-transition:background-color 250ms ease-in;
            &:hover {
            background-color: #fff;
            color:#ff244f;
            }
        }
    }
}

#signup_button {
}

#topup_button {
}

#cards_button {
}

#venues_button {
}


/*************** USERS PAGE *****************************/  

#usersHeader {
    width:100%;
    text-align:left;
    max-height:100px;
    padding:15px;
    margin-bottom:20px;
}

#userFormsWrapper {
    width:100%;
    margin-bottom:20px;
}

/********* Top Ups and cards ************/

#paypal {
    margin-top:25px;
    width:30%;
    font-size:55px;
    box-shadow: 4px 4px 2px #888888;
	border:1px solid #000000;
}

#topupsContainer {
    margin-top:25px;
    width:50%;
    float:left;
}



#cardsContainer {
    margin-top:25px;
    width:50%;
    float:left;
}



/****** Display Top Ups Table and Cards Table    *******/
#display-topups {
    display:none;
    height:295px;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
#show {
           width:90%;
           border-top: 1px solid #ff2450;
           background: #ff2450;
           padding: 11.5px 23px;
           -webkit-border-radius: 9px;
           -moz-border-radius: 9px;
           border-radius: 9px;
           -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
           -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
           box-shadow: rgba(0,0,0,1) 0 1px 0;
           text-shadow: rgba(0,0,0,.4) 0 1px 0;
           color: white;
           font-size: 21px;
           font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
           text-decoration: none;
           vertical-align: middle;
             }
            button:hover {
               border-top-color: #ffffff;
               background: #ffffff;
               color: #ff244f;
               cursor:pointer;
                
            }
            
#display-pluscards {
    display:none;
    height:295px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#show {
           width:90%;
           border-top: 1px solid #ff2450;
           background: #ff2450;
           padding: 11.5px 23px;
           -webkit-border-radius: 9px;
           -moz-border-radius: 9px;
           border-radius: 9px;
           -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
           -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
           box-shadow: rgba(0,0,0,1) 0 1px 0;
           text-shadow: rgba(0,0,0,.4) 0 1px 0;
           color: white;
           font-size: 21px;
           font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
           text-decoration: none;
           vertical-align: middle;
             }
            button:hover {
               border-top-color: #ffffff;
               background: #ffffff;
               color: #ff244f;
               cursor:pointer;
                
            }            
    
    

/**  Table CSS -- Used CSS table generator for simplicity and speed **/  
.topups_table {
    margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
	
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}.topups_table table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	margin:0px;padding:0px;
}.topups_table tr:last-child td:last-child {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
}
.topups_table table tr:first-child td:first-child {
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}
.topups_table table tr:first-child td:last-child {
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
}.topups_table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
}
.topups_table tr:nth-child(odd){ background-color:#ff244f; }
.topups_table tr:nth-child(even)    { background-color:#ffaad4; }.topups_table td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:6px;
	font-size:12px;
	font-family:Arial Black;
	font-weight:normal;
	color:#000000;
}.topups_table tr:last-child td{
	border-width:0px 1px 0px 0px;
}.topups_table tr td:last-child{
	border-width:0px 0px 1px 0px;
}.topups_table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.topups_table tr:first-child td{
		background:-o-linear-gradient(bottom, #ff244f 5%, #ff244f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff244f), color-stop(1, #ff244f) );
	background:-moz-linear-gradient( center top, #ff244f 5%, #ff244f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff244f", endColorstr="#ff244f");	background: -o-linear-gradient(top,#ff244f,ff244f);

	background-color:#ff244f;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:15px;
	font-family:Arial Black;
	font-weight:bold;
	color:#ffffff;
}
.topups_table tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ff244f 5%, #ff244f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff244f), color-stop(1, #ff244f) );
	background:-moz-linear-gradient( center top, #ff244f 5%, #ff244f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff244f", endColorstr="#ff244f");	background: -o-linear-gradient(top,#ff244f,ff244f);

	background-color:#ff244f;
}
.topups_table tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.topups_table tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

/*****************  Venues Page  **************************/

#venuesHeader {
    text-align:center;
}

.venueTable table { 
    text-align: left; 
    width: 100%; 

} 

.venueTable {
    font: normal 12px/150%  Arial, sans-serif; 
    overflow: hidden; 
    margin:10px;
}


.venueTable table tbody tr td {
    border-bottom: 5px solid #FF244F;
}

.venueTablePicture {
    border-bottom: 5px solid #FF244F;
    padding:3px;
}

.venueTableName {
    color: #black; 
    font-size: 25px;
    border-bottom: 5px solid #FF244F;
    padding:5px;
    text-align:center;
    line-height:100%;
    font-weight:bold;
}

.venueTableDescription {
    color: #002536;
    font-size: 15px;
    border-bottom: 5px solid #FF244F;
    text-align:center;
    padding:25px;
}

.venueTablePrice {
    border-bottom: 5px solid #FF244F;
    padding:25px;
    text-align:center;
    font-size:15px;
    line-height:200%;
    font-weight:bold;
}

#orderVenueButton {
    padding: .75em;
    font-weight:bold;
    font-size:18px;
    background:#ff244f;
    color:#fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
 
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    &:hover {
        color:#fff;
        background:#ff244f;
    
    &:focus {
        outline: none;
        border: 0.1em solid darken(#ccc, 6%);
        opacity:.6;
    }
    }
}



