<div id ="footerBox"> <!-- This will be the footer box-->
  
  <div id="links">
      <ul>
          <li><%= link_to "ABOUT US", about_path %></li>
          <li><%= link_to "T&Cs", '#' %></li>
          <li><%= link_to "CONTACT", contact_path %></li>
      </ul>
  </div>
          
  <div id="footerLogo"> <!-- This is the logo -->
    <a href=""><img class="image" src="/assets/logo.png" alt="logo"/></a>
  </div>
          
  <p>A Website of Positive Payment Technologies</p>
        
</div>