<div id = "headerBox"> <!-- This is to be the whole header box -->
        
    <div id="logo"> <!-- This is the logo -->
        <%= link_to(image_tag("logo.png", :alt => "logo", :class =>"image"), root_path) %>
    </div>
          
    <div id = "headerClear"> <!-- there might be space free to be utilised later-->
        <span><%= link_to(image_tag("FB-f-Logo__blue_29.png", :alt => "logo", :class =>"icon"), root_path) %>
        <%= link_to(image_tag("twitter.png", :alt => "logo", :class =>"icon"), root_path) %>
        <%= link_to(image_tag("Instagram_Icon_Large.png", :alt => "logo", :class =>"icon"), root_path) %>
        <form id="search" method="get" action="http://www.google.com">
		        <input type="text" name="q" placeholder="Search" maxlength="120">
		</form>
		</span>
    </div>
    <div id = "headerAccount" class="login"> <!-- Area for account sign in and balance-->
        <% if logged_in? %>
            <strong><%= current_user.name %></strong>
            <button id="showBalance" onclick="showBalance()"> Hide / Show Balance</button>
            <span id="balance"><%= number_to_currency(current_user.balance,:unit=>'€') %></span>
            <%= link_to "Log out", logout_path, method: "delete" %>
        <% else %>
            <%= form_for(:session, url: login_path) do |f| %>
            <%= f.email_field :email, placeholder: 'Email' %>
            <%= f.password_field :password, placeholder: 'Password' %>
            <%= f.submit "Log in" %> 
        <% end %>
        <% end %>
    </div>
          
    <div id = "navbar"> <!-- Menu Bar for tabs-->
        <ul>
        <li><%= link_to "ABOUT", about_path %></li>
        <li><%= link_to "CARDS", login_path %></li>
        <li><%= link_to "ACCOUNT", login_path %></li>
        <li><%= link_to "VENUES", venues_path %></li>
        <li><%= link_to "OFFERS", venues_path %></li>
        <li><%= link_to "CONTACT", contact_path %></li>
        </ul>
    </div>
</div>