<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> <!-- adding jquery -->
  
  <link rel="icon" type="image/png" href="assets/icopluscard.png" sizes="32x32" />
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>

<body>
  <div id="page"> <!-- This is in order to have a background on the page for each side of the container -->
    <div id = "container"> <!-- This is to form the main page within a container -->
      <%= render 'layouts/header' %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>   <!-- Note how the class is the message type might need to be changed -->
      <% end %>  
      <div id = "content">
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>    
  </div>

</body>
</html>
